venv/
.venv/
__pycache__/
*.pyc
*.env
dtbackend.env
node_modules/
.next/
.dart_tool/
build/
.vscode/
.idea/
*.sqlite
*.db
*.log
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.gradle/
local.properties
android/.gradle/
ios/Pods/
ios/.symlinks/
web_react/.next/
web_react/node_modules/
mobile_flutter_app/hearlinx/build/
mobile_flutter_app/hearlinx/.dart_tool/
dengartrack-backend/venv/
dengartrack-backend/__pycache__/
dengartrack-backend/dtbackend.env
